@font-face {
    font-family: 'Barlow';
    src: local('Barlow Medium'), local('Barlow-Medium'),
        url('../fonts/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: local('Barlow Regular'), local('Barlow-Regular'),
        url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter_18pt-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}